@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap");

* {
  margin: 0;
  font-family: "Noto Sans Buhid", sans-serif;
}

:root {
  --clr-sidebar: #252728;
  --clr-container-main: #1f2123;
  --clr-item-active: #363739;
  --clr-text: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-container-main);
}

nav {
  background-color: var(--clr-sidebar);
  width: 25vw;
  min-width: 200px;
  max-width: 350px;
  height: 100vh;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-nav,
#projects-nav {
  margin-top: 0.4rem;
  width: 95%;
}

#main-nav > div {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: inherit;
  border-radius: 15px;
}

#main-nav > div:hover,
#project-nav > div:hover,
.project:hover {
  cursor: pointer;
  background-color: var(--clr-item-active);
}

#main-nav > div > img {
  margin-right: 0.4rem;
  width: 2.5rem;
}

#main-nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  padding-bottom: 1rem;
}

#btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

#btn-wrapper > img {
  width: 1.4rem;
  padding: 0.4rem;
  border-radius: 10px;
}

#btn-wrapper > img:hover {
  background-color: var(--clr-item-active);
  cursor: pointer;
}

.project-wrapper > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.project-wrapper > div > img {
  width: 1.8rem;
  transition: transform 0.2s;
}

.project-wrapper > div > img:hover {
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  font-size: 1rem;
  padding-left: 15%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 5px;
  display: flex;
}

.star {
  width: 1.4rem;
  transition: transform 0.4s;
  margin-right: 1rem;
}

.star:hover {
  cursor: pointer;
  transform: rotate(70deg);
}

.add-project-wrapper {
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
}

.add-project-button {
  width: 1.6rem;
  padding: 0.2rem;
  transition: transform 0.1s;
}

.add-project-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.project-container-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 90%;
  height: auto;
  background-color: var(--clr-item-active);
  border-radius: 15px;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

/* reset text form */
#container-name {
  border: none;
  background-color: var(--clr-sidebar);
  color: var(--clr-text);
  font-size: 1rem;
  width: 75%;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

#container-name:hover,
#container-name:focus {
  cursor: text;
  border: 2px solid rgba(128, 128, 128, 0.4);
  margin: -2px;
}

#container-name:focus,
.project-name-input {
  outline: none;
}

.add-button {
  border: none;
  background-color: var(--clr-container-main);
  color: white;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 0.6rem;
}

.add-button:hover {
  cursor: pointer;
  border: 4px solid rgba(128, 128, 128, 0.4);
  margin: -4px;
}

.hide {
  display: none;
}

.close-project-form {
  background-color: var(--clr-item-active);
  transform: rotate(45deg);
  width: 1.2rem;
  position: relative;
  left: 40%;
  top: 0;
  transition: transform 0.4s;
}

.close-project-form:hover {
  cursor: pointer;
  transform: rotate(140deg) scale(1.2);
}

.project-name-input {
  display: flex;
  margin-top: 0.2rem;
  align-self: center;
  border: none;
  background-color: var(--clr-container-main);
  color: var(--clr-text);
  font-size: 1rem;
  width: 65%;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

.project-name-input:hover,
.project-name-input:focus {
  outline: 2px solid rgba(128, 128, 128, 0.4);
}

#app {
  display: flex;
}

#container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-list {
  width: 90%;
  max-width: 800px;
  height: 90%;
  background-color: var(--clr-sidebar);
  border-radius: 25px;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.note:first-child {
  margin-top: 1.4rem;
}

.note {
  margin-left: 2rem;
  padding: 0.2rem;
  border-radius: 15px;
  width: 90%;
}

.note:hover {
  background-color: var(--clr-item-active);
}

.note-s:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.note {
  display: flex;
  align-items: center;
}
